{%extends 'Navbar.html'%}
{% block title%}Cart{% endblock %}
{% block content %}
<section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
          <div>
            <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                  class="fas fa-angle-down mt-1"></i></a></p>
          </div>
        </div>
          {% for item in cart %}
        {% include 'cartslistadd.html '%}
        {% endfor %}

        <div class="card mb-4">
          <div class="card-body p-4 d-flex flex-row">
            <div class="form-outline flex-fill">
              <input type="text" id="form1" class="form-control form-control-lg" />
              <label class="form-label" for="form1">Discound code</label>
            </div>
            <button type="button" class="btn btn-outline-warning btn-lg ms-3">Apply</button>
          </div>
        </div>
          <hr class="mb-4" style="height: 2px; background-color: #1266f1; opacity: 1;">
                <div class="card">
                <div class="d-flex justify-content-between px-x">
                  <p class="fw-bold">Discount:</p>
                  <p class="fw-bold">95$</p>

                </div>
                <div class="d-flex justify-content-between p-2 mb-2" style="background-color: #e1f5fe;">
                  <h5 class="fw-bold mb-0">Total:</h5>

                  <h5 class="fw-bold mb-0">
                      <span
                    hx-get="{% url 'carttotal'%}"
                    hx-trigger="update-menu_cart from:body"
                    hx-swap="innerHTML"
                >
                        {% include 'cartpricetotal.html' %}
                  </span>

                      </h5>
                </div>
                    </div>

        <div class="card">
          <div class="card-body">
          <a href="{% url 'checkout' %}">
            <button type="button" class="btn btn-warning btn-block btn-lg">Confirm Checkout</button>
          </a>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
{%endblock%}