{%extends 'Navbar.html'%}
{% block title%}Home{% endblock %}
{% block content %}
<div  style="height:250px;background-color: #007bff;text-align:center;color:#fff ">
  <div class="container">
  <div style="padding-top:25px";>
    <h1>Welcome To Noida Homes</h1>
    <p>We sell furnitures for the modern homes</p>
    <button type="button" class="btn btn-light">Start shopping</button>

  </div>
    </div>
</div>

<div class="container">
  <div class="row mt-4">
    {% for i in value%}
  <div class="col-md-3 my-1">

 {% include 'partial/productlist.html'%}
</div>
{% endfor %}
  </div>

    </div>
</div>
{% endblock %}