{%extends 'Navbar.html'%}
{% block title%}Myaccount{% endblock %}
{% block content %}
<div class="container mt-3" style="color:black">
    <h3>My account</h3>

    <div class="mb-6 mt-3 ">
    <div class="card mb-4 " style="width: 40%;">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Full Name</p>
        </div>
        <div class="col-sm-9">
          <p class="text mb-0">{{request.user.get_full_name}}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Username</p>
        </div>
        <div class="col-sm-9">
          <p class="text mb-0">{{request.user.username}}</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <p class="mb-0">Email</p>
        </div>
        <div class="col-sm-9">
          <p class="text mb-0">{{ request.user.email }}</p>
        </div>
      </div>
      <hr>

    </div>
         <a href="{% url 'myappedit' %}">
        <button type="button" class="btn btn-primary ">Edit Our data</button>
            </a>
</div>
    <hr>
    <h3 class="my-6">My orders</h3>
    <section class="h-100" >
{% for order in request.user.orders.all %}
  <div class="container h-100 py-5">


  <div class="card rounded-7 mb-4">
    <div class="card-body p-4">
      {% for item in order.items.all %}
      <div class="row d-flex justify-content-between align-items-center">
        <div class="col-md-4 col-lg-2 col-xl-2">
          <h6>Orderid:{{order.id}}</h6>
          <img
            src="{{item.product.image.url}}"
            class="img-fluid rounded-3" alt="product image">
        </div>
        <div class="col-md-2">
          <p class="lead fw-normal mb-2">{{item.product.name}}</p>
          <p><span class="text-muted">Quantity: </span>{{item.quantity}}</p>
        </div>

        <div class="col-md-3   ">
          <h5 class="mb-0">${{item.price}}</h5>
        </div>


      </div>
      {% endfor %}

    </div>

  </div>

      <p>Date:{{order.created_at}}</p>
      <p>Total:</p>

  </div>
      {% endfor %}

  </section>
</div>
</div>
{% endblock %}