{% extends 'navbar.html'%}
{% block content %}
<div class="mx-auto p-2">
    <div class="row">
        <div class="col-md-3">
            <h3>SEARCH</h3>
            <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <form class="d-flex" role="search" method="GET" action=".">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
      <div class="space-y-2" style="  line-height: 1.9;">
           <h3>CATEGORIES</h3>
          <li style="list-style-type:none"><a href="#" style=" text-decoration:none;"   > All Categories</a></li>

          <li style="list-style-type:none"><a href="#" style=" text-decoration:none;" >{{category.name}}</a></li>




      </div>
  </div>
</nav>
            </div>
        <div class="col">
<div class="row mt-3">
{% for i in value%}
 <div class="col-md-4 my-3">
     <a href="#">
<div class="card" style="width: 16rem;" id="one">
  <img src="#" class="mx-auto d-block "  alt="..." style="width:8rem;">
  <div class="card-body">
          <a href="" style="text-decoration:none;color:black;font-size:14px;">{{i.name}}</a>

              <a href="" class="fa fa-shopping-cart nav-item nav-link active" style="font-size: 19px;padding-left:40%;text-decoration:none;color:black"></a>
  </div>
  <div style="padding-left:18px">
    <p style="color:gray">{{i.get_price}}</p>

  </div>
</div>
     </a>
  </div>

  {% endfor %}
    </div>
    </div>
</div>
    </div>



{% endblock %}