{% extends 'navbar.html'%}
{% block title%}shop{% endblock %}
{% block content %}
<div class="mx-auto p-3">
    <div class="row">
        <div class="col-md-3 mt-0">
            <h3>SEARCH</h3>
            <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <form class="d-flex" role="search" method="GET" action="{% url 'shops'%}">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
      <div class="space-y-2" style="  line-height: 1.9;">
           <h3>CATEGORIES</h3>
          <li style="list-style-type:none"><a href="{% url 'shops'%}" style=" text-decoration:none;"  class=" {% if not active_category %} text-primary {% else %} text-secondary {% endif %}"   > All Categories</a></li>
          {% for category in category%}
          <li style="list-style-type:none"><a href="{% url 'shops'%}?category={{category.slug}}" style=" text-decoration:none;" class=" {% if category.slug == active_category %} text-dark {% else %} text-secondary{% endif %}" >{{category.name}}</a></li>
          {% endfor %}



      </div>
  </div>
</nav>
            </div>
        <div class="col">
<div class="row mt-3">
{% for i in data%}
 {% include 'partial/productlist.html'%}

  {% endfor %}
    </div>
    </div>
</div>
    </div>



{% endblock %}