  <div class="col-md-3 my-3" >
<div class="card main" style="width: 15rem;">
  <img src="..." class="mx-auto d-block" alt="...">
  <div class="card-body">
    <a href="" style="text-decoration:none;color:black ;font-size:14px;">{{i.name}}</a>
              <a href="" class="fa fa-shopping-cart nav-item nav-link active" style="font-size: 19px;padding-left:40%;text-decoration:none;color:black"></a>
  </div>
  <div style="padding-left:18px">
    <p style="color:gray">${{i.priceset}}</p>

  </div>
</div>

  </div>